In [164]:
import pandas as pd
import numpy as np
import string
import re
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [165]:
import nltk

In [166]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Alank\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [167]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Alank\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [168]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alank\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [169]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Alank\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [170]:
df = pd.read_csv("payment_confirmed.csv")
df.head()

,Title,Ratings,Review,App
0,Probably the de facto payment system of most s...,5,My overall experience with PayPal is extremely...,Paypal
1,Industry leading payments and protection with ...,4,PayPal has always been fair and transparent wi...,Paypal
2,"A Decent payment processor, an even worse fina...",2,Paypal was the second processor my agency used...,Paypal
3,Paypal is a great platform for buying and sell...,5,I have been using Paypal for years as both a b...,Paypal
4,Small Business MUST,5,Smooth sailing and effortlessly symbiotic. Pay...,Paypal

In [171]:
df['length'] = df['Review'].apply(lambda x: len(x))

In [172]:
df['Review'] = df['Review'].astype(str)

In [173]:
#convert to lower case

In [174]:
df['Review'] = df['Review'].apply(lambda x: ''.join(map(str.lower, x)))
df.head()

,Title,Ratings,Review,App,length
0,Probably the de facto payment system of most s...,5,my overall experience with paypal is extremely...,Paypal,128
1,Industry leading payments and protection with ...,4,paypal has always been fair and transparent wi...,Paypal,399
2,"A Decent payment processor, an even worse fina...",2,paypal was the second processor my agency used...,Paypal,276
3,Paypal is a great platform for buying and sell...,5,i have been using paypal for years as both a b...,Paypal,146
4,Small Business MUST,5,smooth sailing and effortlessly symbiotic. pay...,Paypal,76

In [175]:
#removing numbers
def remove_numbers(Review):
    number_pattern = r'\d+'
    without_number = re.sub(pattern=number_pattern, repl=" ", string=Review)
    return without_number

In [176]:
df['Review'] = df['Review'].apply(lambda x: remove_numbers(x))
df.head()

,Title,Ratings,Review,App,length
0,Probably the de facto payment system of most s...,5,my overall experience with paypal is extremely...,Paypal,128
1,Industry leading payments and protection with ...,4,paypal has always been fair and transparent wi...,Paypal,399
2,"A Decent payment processor, an even worse fina...",2,paypal was the second processor my agency used...,Paypal,276
3,Paypal is a great platform for buying and sell...,5,i have been using paypal for years as both a b...,Paypal,146
4,Small Business MUST,5,smooth sailing and effortlessly symbiotic. pay...,Paypal,76

In [177]:
#Removing Punctuations
def remove_punctuation(Review):
    return Review.translate(str.maketrans('', '', string.punctuation))

In [178]:
df['Review'] = df['Review'].apply(lambda x: remove_punctuation(x))
df.head()

,Title,Ratings,Review,App,length
0,Probably the de facto payment system of most s...,5,my overall experience with paypal is extremely...,Paypal,128
1,Industry leading payments and protection with ...,4,paypal has always been fair and transparent wi...,Paypal,399
2,"A Decent payment processor, an even worse fina...",2,paypal was the second processor my agency used...,Paypal,276
3,Paypal is a great platform for buying and sell...,5,i have been using paypal for years as both a b...,Paypal,146
4,Small Business MUST,5,smooth sailing and effortlessly symbiotic payp...,Paypal,76

In [179]:
#tokenise
df['Review']=df['Review'].apply(word_tokenize)

In [180]:
df.head()

,Title,Ratings,Review,App,length
0,Probably the de facto payment system of most s...,5,"[my, overall, experience, with, paypal, is, ex...",Paypal,128
1,Industry leading payments and protection with ...,4,"[paypal, has, always, been, fair, and, transpa...",Paypal,399
2,"A Decent payment processor, an even worse fina...",2,"[paypal, was, the, second, processor, my, agen...",Paypal,276
3,Paypal is a great platform for buying and sell...,5,"[i, have, been, using, paypal, for, years, as,...",Paypal,146
4,Small Business MUST,5,"[smooth, sailing, and, effortlessly, symbiotic...",Paypal,76

In [181]:
df['Review'][0]

['my',
 'overall',
 'experience',
 'with',
 'paypal',
 'is',
 'extremely',
 'positive',
 'so',
 'far',
 'ive',
 'had',
 'no',
 'problems',
 'using',
 'paypal',
 'as',
 'one',
 'of',
 'my',
 'payment',
 'providers']

In [182]:
from nltk.stem.snowball import SnowballStemmer
porter=SnowballStemmer("english")

In [183]:
def stem_it(Review):
  return [porter.stem(word) for word in Review]

In [184]:
df['Review']=df['Review'].apply(stem_it)
df['Review'][0]

['my',
 'overal',
 'experi',
 'with',
 'paypal',
 'is',
 'extrem',
 'posit',
 'so',
 'far',
 'ive',
 'had',
 'no',
 'problem',
 'use',
 'paypal',
 'as',
 'one',
 'of',
 'my',
 'payment',
 'provid']

In [185]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alank\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [186]:
stop_words = stopwords.words('english')

In [187]:
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [188]:
def remove_stopwords(Review):
    removed = []
    stop_words = list(stopwords.words("english"))
    tokens = word_tokenize(Review)
    for i in range(len(tokens)):
        if tokens[i] not in stop_words:
            removed.append(tokens[i])
    return " ".join(removed)

In [189]:
df['Review'] = df['Review'].astype(str)
df['Review'] = df['Review'].apply(lambda x: remove_punctuation(x))
df['Review'][0]

'my overal experi with paypal is extrem posit so far ive had no problem use paypal as one of my payment provid'

In [190]:
def remove_extra_white_spaces(Review):
    single_char_pattern = r'\s+[a-zA-Z]\s+'
    without_sc = re.sub(pattern=single_char_pattern, repl=" ", string=Review)
    return without_sc

In [191]:
df['Review'] = df['Review'].apply(lambda x: remove_extra_white_spaces(x))
df['Review'][0]

'my overal experi with paypal is extrem posit so far ive had no problem use paypal as one of my payment provid'

In [192]:
def lemmatizing(Review):
    lemmatizer = WordNetLemmatizer()
    tokens = word_tokenize(Review)
    for i in range(len(tokens)):
        lemma_word = lemmatizer.lemmatize(tokens[i])
        tokens[i] = lemma_word
    return " ".join(tokens)

In [193]:
df['Review'] = df['Review'].astype(str)
df['Review'] = df['Review'].apply(lambda x: lemmatizing(x))

In [194]:
df['Review'][0]

'my overal experi with paypal is extrem posit so far ive had no problem use paypal a one of my payment provid'

In [195]:
df['length_after_cleaning'] = df['Review'].apply(lambda x: len(x))
df['Review'][0]

'my overal experi with paypal is extrem posit so far ive had no problem use paypal a one of my payment provid'

In [196]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [197]:
X = df['Review']
y = df['Ratings']

In [198]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [199]:
tfidf_vectorizer = TfidfVectorizer(max_features=1000)
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [200]:
classifier = LogisticRegression(max_iter=1000,random_state=42)
classifier.fit(X_train_tfidf, y_train)

LogisticRegression(max_iter=1000, random_state=42)

In [201]:
y_pred = classifier.predict(X_test_tfidf)

In [202]:
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

C:\Users\Alank\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Alank\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Alank\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [203]:
accuracy

0.7905